.__dashboard {
      display: flex;
}

.__sidebar_div {
      width           : 20%;
      height          : 100%;
      background-color: aqua;
}

.__content_div {
      width           : 80%;
      height          : 100%;
      background-color: azure;
}